.hover-box {
  position: relative;
  overflow: hidden;
}

.image-layer {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hover-inner {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); /* example background color */
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content h3 a {
  color: #fff;
  text-decoration: none;
}

.content .text {
  margin-top: 10px;
}

.content .link a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.content .link .icon {
  margin-left: 5px;
}
